* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  flex: 1;
  height: 120px;
  background: #e0c2c0;
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 24;
  color: blueviolet;
  font-weight: bold;
}
.searchInput {
  border-style: none;
  border-bottom: 1px solid blueviolet;
  background-color: #e0c2c0;
  padding: 12px 30px;
  outline: none;
  width: 300px;
  color: grey;
}
.main {
  flex: 1;
  min-height: 100vh;
  background: #efe7dd;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 30px;
}

.addBtn {
  width: 40px;
  height: 40px;
  background-color: blueviolet;
  border-radius: 50%;
  outline: none;
  border: none;
  color: azure;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 100px;
  cursor: pointer;
}
