.modal {
  background-color: #bcb8ce;
  width: 400px;
  height: 400px;
  padding: 40px 20px;
  position: absolute;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rebeccapurple;
  padding: 2px 4px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  color: powderblue;
  border-radius: 4px;
}

.input {
  border-style: none;
  border-bottom: 1px solid blueviolet;
  background-color: transparent;
  padding: 12px 30px;
  outline: none;
  width: 80%;
  color: grey;
  margin: 5px;
}

.sendBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rebeccapurple;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  color: powderblue;
  border-radius: 4px;
}
